.coin_details {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 auto; */

  background-color: #000000;
  color: rgb(248, 248, 248);
  /* padding: 20px; */
  /* border-radius: 10px; */
  /* margin: 10px; */
  /* height: 100%; */
  /* bottom: 0; */
}

.exit {
  display: flex;
  justify-content: flex-start;
  /* float: left; */
  margin: 20px;
}
.coin_details__heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
}
.coin_img {
  margin: 20px auto;
}

.coin_details__container {
  /* background-color: #9b315b; */
  /* padding: 20px; */
  /* border-radius: 10px; */
  width: 100%;
  max-width: 1600px;
  height: 100%;
  bottom: 0;
  overflow-x: hidden;
}

h3:nth-child(even) {
  background-color: brown;
  padding: 10px;
  border-radius: 10px;
}

h3:nth-child(odd) {
  background-color: #9b315b;
  padding: 10px;
  border-radius: 10px;
}

.coin_name,
.coin_symbol,
.coin_market_cap,
.coin_current_price {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.spans {
  color: #ffffff;
}
