* {
  color: white;
  box-sizing: border-box;
}

.coin-app {
  background-color: #dd4883;
  width: 100%;
}

.coin-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  margin-left: 20px;
}

.feature-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.feature-coin img {
  margin-top: 20px;
}

.feature-coin__details {
  gap: 0;
}

.allCoins {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding: 0 5px;
  background-color: #9d2555;
}

.coin-search h2 {
  font-size: 1.2rem;
}

form input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  color: black;
  border-bottom: 2px solid #000;
  width: 400px;
}

.grid-coin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 55px;
  background-color: #dd4883;
}

.coin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  margin-top: 15px;
}

.coinLayout__container__coin {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.coin-row {
  padding-right: 8px;
  height: 100%;
}

.coin-row:nth-child(4n + 1),
.coin-row:nth-child(4n) {
  background-color: #cf4278;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.showBtn {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #cf4278;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 20px;
}

.showBtn:hover {
  font-size: large;
}

.coinDetail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* media query for smaller devices */

@media screen and (max-width: 768px) {
  .grid-coin {
    grid-template-columns: repeat(2, 1fr);
  }

  .coin {
    flex-direction: column;
    align-items: flex-start;
  }

  .coinDetails h1 {
    display: flex;
    flex-direction: column;
    font-size: smaller;
  }

  .coinDetail .current-price {
    display: none;
  }

  .coin-search {
    flex-direction: row;
  }

  .feature-coin__details {
    font-size: smaller;
  }

  .feature-coin img {
    width: 80px;
    height: 80px;
  }

  .allCoins {
    justify-content: flex-start;
  }

  form input {
    width: 200px;
  }
}
