a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: rgb(159, 97, 97);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

span {
  color: brown;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons .mic {
  background-color: white;
  padding: 0.2rem;
  border-radius: 50%;
}

.icons .setting {
  background-color: white;
  padding: 0.2rem;
  border-radius: 50%;
}
